<div class="container">
    <div>
        <form [formGroup]="loginForm" >
            <div>
                <label class="form-label">Id</label>
                <input type="number" formControlName="id" >
                <div *ngIf="isSubmitted && controls.username.errors">
                    <div *ngIf="controls.username.errors?.required" class="alert alert-danger">
                        "Username is required"
                    </div>
                </div>
            </div>
            <div>
                <label class="form-label">Username (Email)</label>
                <input type="email" formControlName="username" placeholder="abc.123@xyz.com">
                <div *ngIf="isSubmitted && controls.username.errors">
                    <div *ngIf="controls.username.errors?.required" class="alert alert-danger">
                        "Username is required"
                    </div>
                </div>
            </div>
            <div>
                <label class="form-label">Password</label>
                <input type="password" formControlName="password">
                <div *ngIf="isSubmitted && controls.password.errors">
                    <div *ngIf="controls.password.errors?.required" class="alert alert-danger">
                        "Password is required"
                    </div>
                </div>
            </div>
            <div>
                <label class="form-label">Name</label>
                <input type="text" formControlName="name" placeholder="John Doe">
                <div *ngIf="isSubmitted && controls.username.errors">
                    <div *ngIf="controls.username.errors?.required" class="alert alert-danger">
                        "Username is required"
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" (click)="onSubmit(loginForm)">SignUp</button>
        </form>
    </div>
</div>
